/* 공통 */
*{
    margin: 0;
    padding: 0;
}
.wrap{
    width: 100%;
    margin: 0 auto;
}
.inner{
    width: 1200px;
    margin: 0 auto;
}
.clear{
    clear: both;
}
ul li{
    list-style: none;
}
/* 헤더 */
header{
    width: 100%;
    height: 290px;
    box-sizing: border-box;
    position: absolute;
}
.logo{
    float: left;
    padding: 60px 60px;
}
header > .inner > nav{
    padding: 60px 60px;
}
header > .inner > nav ul{
    list-style: none;
}
header > .inner > nav ul li{
    text-align: right;
    padding-bottom: 1rem;
}
header > .inner > nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

/* 컨텐츠 1 */
.con1{
    background-size: cover;
    background-image: url(../images/flower_01.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 840px;
    box-sizing: border-box;
}
.con1 > .inner{
    padding-top: 300px;
}
.con1_bg{
    box-sizing: border-box;
    width: 100%;
    height: 425px;
    border: 6px solid #b4b9a4;
}
.con_bg::before{
    clear: both;
}
.con1_tbox{
    float: right;
    padding-top: 45px;
    padding-right: 65px;

}
.con1_tbox h1{
    font-size: 3.5rem;
    color: white;
    font-weight: lighter;
    margin-bottom: 1rem;
}
.con1_tbox h5{
    font-size: 1.7rem;
    color: #b4b9a4;
    padding-bottom: 1.5rem;
    font-weight: lighter;
}
.con1_tbox p{
    color: white;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 0.1rem;
}

/* 컨텐츠2 */
.con2{
    box-sizing: border-box;
    border-bottom: 1px solid #fbfaf9;
    width: 100%;
    height: 780px;
    margin: 0 auto;
}
.con2_tb{
    width: 100%;
    height: 180px;
    line-height: 180px;
    box-sizing: border-box;
}
.con2_tb > nav{
    display: block;
    width:100%;
    margin: 0 auto;
    box-sizing: border-box;
}
.con2_tb > nav::before{
    clear: both;
}
.con2_tb nav ul{
    width: 480px;
    box-sizing: border-box;
    margin: 0 auto;
}
.con2_tb nav ul li{
    display: block;
    color: #686868;
    font-size: 1rem;
    float: left;
    position: relative;
}
.con2_tb nav ul li:nth-child(1){
    padding-left: 45px;
}
.con2_tb nav ul li:nth-child(2){
    padding: 0 70px;
}
.con2_tb nav ul li:nth-child(3){
    padding-right: 70px;
}
.con2_tb > nav > ul > li > span{
    display: block;
    width: 62px;
    height: 6px;
    background-color: #b3ba90;
    border: #cdcebc 1px soild ;
    position: absolute;
    top: 120px;
}
.con2_img{
    width: 100%;
    height: 490px;
    box-sizing: border-box;
    background-image: url(../images/sldie_01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.con2_img::before{
    clear: both;
}
.con2_img div:nth-child(1){
    float: left;
    line-height: 490px;
}
.con2_img div:nth-child(2){
    float: right;
    line-height: 490px;
}
.con2_btn{
    width: 100%;
    height: 120px;
    line-height: 120px;
    box-sizing: border-box;
    border-bottom: solid 1px #f1eee9;
}
.con2_btn::before{
    clear: both;
}
.con2_btn > ul {
    width: 180px;
    margin: 0 auto;
}
.con2_btn > ul > li{
    float: left;
    padding-left: 12px;
}
.con2_btn > ul > li:nth-child(1){
    padding-left: 0;
}

/* 컨텐츠 3 */
.con3{
    width: 100%;
    height: 855px;
    background-color: #f1eee9;
    box-sizing: border-box;
}
.con3_bg{
    width: 100%;
    padding: 60px 0;
}
.con3_top{
    width: 100%;
    height: 365px;
    background-color: #aabaa0;
    border: 1px solid #f2f8eb;
    box-sizing: border-box;
    margin: 0;
    padding-top:118px
}
.con3_top > div{
    width: 720px;
    height: 130px;
    border: 8px solid #f1edea;
    margin: 0 auto;
    line-height: 114px;
    box-sizing: border-box;
}
.con3_top > div > h1{
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 0.6rem;
    text-align: center;
    color: #f1edea;
}
.con3_btm{
    margin-top: 10px;
    width: 100%;
    height: 355px;
    box-sizing: border-box;
}
.con3_btm::before{
    clear: both;
}
.con3_bl{
    height: 355px;
    float: left;
    margin-right: 11px;
    line-height: 355px;
}
.con3_br{
    height: 355px;
    float: left;
    box-sizing: border-box;
}
.con3_br div:nth-child(1){
    height: 170px;
    margin-bottom: 9px;
}
.con3_br div:nth-child(2){
    box-sizing: border-box;
    background-image: url(../images/flower_13.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 170px;
}
.con3_br > div:nth-child(2) > h1{
    margin: 0 auto;
    width: 225px;
    text-align: center;
    color: #fdfff7;
    padding:50px 0 20px 0;
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
    box-sizing: border-box;
    border-bottom: 8px solid #fdfff7;
}

/* 컨텐츠 4 */
.con4{
    width: 100%;
    height: 370px;
    box-sizing: border-box;
}
.con4_tb{
    height: 180px;
    padding-top: 60px;
    text-align: center;
    box-sizing: border-box;
}
.con4_tb h6{
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
    font-weight: lighter;
    color: #718277;
}
.con4_tb p{
    margin-top: 1.5rem;
    font: 0.8rem;
    color: #afafaf;
}
.con4_icon{
    text-align: center;
}

/* 푸터 */
footer{
    width: 100%;
    height: 60px;
    background-color: #aabaa0;
    color: #e7f1e3;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    line-height: 60px;
}